* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}

.form_inputs {
  margin: 20px;
}
.form_inputs input {
  padding: 10px 8px;
}
.btn_submit {
  margin-left: 20px;
}
.btn_submit--modify {
  padding: 10px 13px;
  cursor: pointer;
}
.inputMargin {
  margin: 10px 0;
}
